/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	overflow-y: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* STYLING */

:root {
	--blue: #01B4DC;
	--blueAccent: #018aa9;
	--whiteBG: #efefef;
	--whiteAccent: #cccccc;
	--semiblack: #424242;
}

body {
	background-image: url('../img/BG.jpg');
	background-size: 100vw 100vh;
}

.view_container {
	width: 70vw;
	height: 80vh;
	position: absolute;
	top: 10vh;
	left: 15vw;
	background-color: rgba(255,255,255,0.8);
}

.wrapper {
	max-height: 90%;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
  	padding: 5% 0;
}

.displayContainer {
	display: block !important;
}

.buttons {
	height: 80px;
	background-color: var(--semiblack);;
	border-radius: 10px;
	min-width: 160px;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
  	transition: 0.3s;
  	margin-top: 40px;
  	border: 0;
  	margin-right: 10px;
	cursor: pointer;
}

.buttons:hover {
	background-color: var(--blueAccent)
}

/* START CONTAINER STYLING */

.startSubText {
	line-height: 60px;
 	font-size: 40px;
 	float: left;
}

.startTitleText {
	margin-top: 20px;
 	font-size: 45px;
 	font-weight: bold;
 	color: var(--blue);
 	float: left;
}

.logo {
	display: block;
	width: 100%;
}

.start_button {
	float: right;
	margin-top: 15%;
	width: 200px;
	height: 80px;
	font-size: 35px;
}

/* FORM CONTAINER STYLING */

.subject_title {
	margin-top: 100px;
 	font-size: 45px;
 	font-weight: bold;
 	color: var(--blue);
 	float: left;
 	width: 100%;
 	min-height: 50px;
}

.subject_statement {
	margin-top: 20px;
 	font-size: 30px;
 	color: var(--semiblack);
 	float: left;
 	display: block;
 	width: 100%;
 	min-height: 60px;
}

.back_button {
	position: absolute;
	left: 50px;
	top :50px;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: var(--whiteBG);
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
	border: 0;
}

.back_button:hover {
	left: 45px;
	cursor: pointer;
}

.back-button:hover {
	background-color: var(--whiteAccent);
}

.button_container {
	float: left;
 	display: block;
 	width: 100%;
 	min-height: 100px;
}

input[type="checkbox"] {
	margin-top: 30px;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background: var(--semiblack);
	border-radius: 1px;
	box-sizing: border-box;
	position: relative;
	box-sizing: content-box ;
	width: 30px;
	height: 30px;
	border-width: 0;
	transition: all .3s linear;
	vertical-align: sub;
}
input[type="checkbox"]:checked {
	background-color: var(--blue);
}
input[type="checkbox"]:focus {
  	outline: 0 none;
  	box-shadow: none;
}

.checkbox_label {
	font-size: 25px;
}

/* RESULTS FILTER STYLING */

.x_seats_input {
	height: 25px;
	width: 75px;
	margin-left: 10px;
}

/* RESULTS CONTAINER STYLING */

.results_list {
	width: 100%;
	text-align: center;
	margin-top: 23%;
}

.results_party {
	font-size: 20px;
	color: #000;
}

.results_party h4, .results_party p {
	display: inline-block;
}

.results_party h4 {
	min-width: 200px;
	max-width: 240px;
}

.results_party:nth-child(-n+3) {
	position: absolute;
	vertical-align: middle;
	display: table-cell;
	width: 250px;
	height: 250px;
	background-color: rgba(66, 66, 66, 0.1);
	border: 5px solid rgb(1, 138, 169);
	border-radius: 100%;
}

.results_party:nth-child(1){
	top: 50px; left: 40%;
}
.results_party:nth-child(2){
	top: 100px; left: 15%;
}
.results_party:nth-child(3){
	top: 100px; left: 65%;
}

.results_party:nth-child(-n+3) h4, .results_party:nth-child(-n+3) p  {
	text-align: center;
	max-width: 240px;
	font-size: 35px;
	display: block;
	position: absolute;
  	top: 38%;
  	left: 50%;
  	transform: translate(-50% , -50%);
  	-webkit-transform: translate(-50%, -50%);
}

.results_party:nth-child(-n+3) p {
  	top: 65%;
  	left: 52%;
  	font-size: 50px;
  	font-weight: bold;
}

.results_party:nth-child(n+3) h4 {
	min-width: 250px;
}

.redo_button {
	position: absolute;
	bottom: 10%;
	left: 5%;
}